h1 Pug View
form(action="/users/search", method="Get")
	input(type = "text", name="q")
	button Search
h1 User Lists 
ul
	each user in users
		li
			span= user.name
			span &nbsp;
			a(href='/users/' + user.id) View
h1 Add new users
a(href="/users/create") Add New User